
GOOGLE_ID=8309897058xxxxxxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-qxxxxx_xxx_MeBxxxxxxa

MONGODB_URI="mongodb+srv://<username>:<password>@ecommerce1.qawqg0x.mongodb.net/?retryWrites=true&w=majority&appName=ecommerce1"

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_URL_INTERNAL=http://localhost:3000

# run `openssl rand -base64 32` to generate NEXTAUTH_SECRET
NEXTAUTH_SECRET="xxxxxxx="


STRIPE_SECRET_KEY=sk_test_xxxxxxx
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_xxxxxx

NEXT_PUBLIC_VERCEL_ENV="development"
