@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base: 24px;
  --font-body: 'Jost', sans-serif;
  --font-jost: 'Jost', sans-serif;

  --gutter-h: 180px;
  --block-padding: 120px;

  --color-extralight-green: rgb(133, 165, 143);
  --color-light-green: rgb(102, 120, 116);
  --color-dark-green: rgb(65, 88, 84);
  --color-highlight-green: rgb(181, 208, 74);
  --color-light-gray: rgb(246, 249, 252)
}

@media (min-width: 1024px) {
  :root {
    --gutter-h: 144px;
    --block-padding: 96px;
  }
}

@media (min-width: 768px) {
  :root {
    --gutter-h: 24px;
    --block-padding: 60px;
  }
} 

html {
  background: var(--theme-bg);
  -webkit-font-smoothing: antialiased;
  opacity: 1;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: var(--font-jost);
  margin: 0;
  padding: 0;
  color: var(--color-dark-green);

  display: flex;
  flex-flow: column;

}

.main {
  flex: 1 1 auto;
}


.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
  @apply  font-inter text-gray-700 hover:text-gray-500 font-medium;
}

.bg_color {
  background-color: var(--color-dark-green);
}

.bg_light_green {
  background-color: var(--color-light-green);
}

.bg_extralight_green {
  background-color: var(--color-extralight-green);
}
.highlight_text {
  color: var(--color-highlight-green)
}

.login {
  margin: auto;
  width: 200px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--color-light-gray); /* Set the line color */
}


.btn {
  background-color: var(--color-light-green);
  border: none;
  color: white;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* font-weight: bold; */
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #365638; /* Darker green on hover */
}

.btn:active {
  background-color: #3e8e41; /* Even darker green on click */
}


/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}

.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.spinner:before,
.spinner:after {
  position: absolute;
  /* content: ''; */
}

.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: var(--color-dark-green);
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}

.spinner:after {
  width: 10.4px;
  height: 10.2px;
  /* background:  var(--color-dark-green); */
  background: white;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

/* .cart_bg {
  background-color: var(--color-light-gray);
} */